/* ---- Desktop ------ */

body {
  background: linear-gradient(180deg, #fcbd2e, black);
  background-attachment: fixed;
}
h1 {
  text-align: center;
  font-size: 70px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}
hr {
  width: 944px;
  height: 10px;
  background: black;
  border: none;
}

.grid {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 270px);
  margin: 60px auto;
  gap: 5px;
  border: 3px solid red;
  justify-content: center;
  height: 1400px;
  align-content: stretch;
}

.box {
  background: black;
  padding: 30px;
  border-radius: 5px;
}

#box4 {
  background: rgb(87, 2, 2);
  grid-column: 1/-1;
}

.box h2 {
  color: white;
  font-size: 35px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.box span {
  color: #febe01;
  font-weight: 700;
}

.box p {
  color: #b2b2b2;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 0px;
}

.box a {
  padding: 10px;
  background: #febe01;
  color: black;
  font-size: 20px;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  border: 1px solid transparent;
}

.box a:hover {
  background: black;
  color: #febe01;
  border: 1px solid #febe01;
}

/* <----- Tablet ------> */

@media (min-width: 768px) and (max-width: 1200px) {
  .grid {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    margin: 40px auto;
    gap: 5px;
  }

  #box3 {
    grid-column: 1/-1;
  }

  h1 {
    margin: 2px auto;
    font-size: 50px;
  }

  hr {
    width: 80%;
    height: 10px;
    background: black;
    border: none;
  }
}

/* <----- Mobile ------> */

@media (max-width: 768px) {
  .grid {
    width: 100%;
    grid-template-columns: 1fr;
    margin: 10px auto;
    gap: 5px;
  }

  #box3 {
    grid-column: 1/-1;
  }

  h1 {
    margin: 2px auto;
    font-size: 50px;
  }

  hr {
    width: 80%;
    height: 10px;
    background: black;
    border: none;
  }

  body {
    background: linear-gradient(180deg, #d6d2d2, rgb(51, 51, 51));
    background-attachment: fixed;
  }
}
